body{
    /* background-image: url(https://media.istockphoto.com/id/183060490/photo/group-with-hands-together.jpg?s=612x612&w=0&k=20&c=kvA_rkY54ZUi2uPbqN9-XZin613DtqC_ac21r-xA40c=); */
    background-size: cover;
    height: 100%;
    font-family: 'Gothic A1', sans-serif;
    /* overflow: hidden; */
    /* background-color:#D38B5D; */
    color: white;
    animation: fade-in 2s ease-in;
}
@keyframes fade-in{
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

                        /* NAVBAR */
.navbar{
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(34, 92, 17, 0.75);
    opacity: 0.95;
    /* color: white; */
}

.changing-back{
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease-in-out;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight:bolder;
    font-family: 'Open Sans', sans-serif;
}
.nav-item{
    /* padding: 1rem; */
    font-family: 'Equinox';
    padding-left: 4rem;
}
.nav-link{
    position: relative;
    padding: 6px 0;
}
.nav-link:before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #034316;
    transition: all 0.4s ease;
}
.nav-link:hover:before{
    width: 100%;
}
.name{
    margin-right: 6.5rem;
}



                            /* SECTION 1 */
.section1{
    height:35rem;
    background-color: rgba(255, 255, 255, 0.452);
    background-image: url(images/hands_pic.jpg);
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.section1>h1{
    padding: 80px 2rem;
    font-size: 3rem;
    width: 60%;
    line-height: 1.5em;
    text-shadow: 0 0 10px black;
}

                            /* SECTION2  */
.section2{
    text-align: center;
    background-color: #D38B5D;
    height: 6rem;
    padding-top: 25px;
    font-family: 'Homemade Apple', cursive;
}


                            /* SECTION 3 */
.section3{
    height:30rem;
    background-image: url(images/help.jpg);
    background-size: cover;
    opacity: 0.6;
}

.section3-text{
    text-align: left;
    margin-left: 70%;
    padding: 10rem 7rem 0 0;
    line-height: 2rem;
    font-size: 1.15rem;
    font-family: 'Carrois Gothic', sans-serif;
    text-shadow: 0 0 15px black;
}
.section4{
    height: 40rem;
    background-color: #D38B5D;
    padding: 10% 20%;
    
}
.container{
    justify-content: space-between;
    gap: 30px;
    display: flex;
    padding: 0;
    margin: 0;
}

.table1{
    color: black;
}
.section5{
    background-color: rgba(34, 92, 17, 0.75);
    height: 15rem;
    padding: 5% ;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
}
.container2 h2{
    font-size: 3rem;
    font-weight:bolder;
    font-family: 'Open Sans', sans-serif;
}
table{
    width: 100%;
    height: 100%;
}
table,th,td{
    padding-right: 30px;
    padding-top: 10px;
}

.brands{
    text-align: center;
}
.brands .fa-brands{
    margin: 10px;
    font-size: 1.5rem;
    color: white;
}


                            /* SECTION-4 */
.section4{
    height: 40rem;
    background-color: #D38B5D;
    padding: 5% 10%;
    
}
.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.container-item{
    height: 30rem;
    width: 35rem;
    background-color: rgb(255, 235, 156);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: center;
}
.container-item1{
    height: 30rem;
    width: 35rem;
    background-color: rgb(255, 235, 156);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.volunteer_head{
    color: black;
    padding-top: 4rem;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: bold;
}
.volunteer_para{
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color:crimson;
    font-size: 1.15rem;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 600;
}
.helpline_list{
    padding-top: 1rem;
    color:crimson;
    font-size: 1.15rem;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 600;
}
li{
    padding-top: 20px;
}
h2{
    color: black;
    padding-top: 2.5rem;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: bold;
}
.volunteer_button{
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgba(34, 92, 17, 0.75);
    box-shadow: 0 5px 0 #034316;
    border:none;
    margin-top: 30px;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: bold;
    color: white;
}
.volunteer_button:active{
    box-shadow: none;
    transform:translateY(5px);
}
.volunteer_button:hover{
    background-color: rgba(35, 92, 17, 0.548);
    font-size: 1.05rem;
}

.fa-twitter{
    box-shadow: none;
}
.fa-twitter:hover{
     box-shadow: 0 0 5px cyan,
     0 0 20px cyan;
}

.fa-instagram{
    box-shadow: none;
}
.fa-instagram:hover{
     box-shadow: 0 0 5px magenta,
     0 0 20px magenta;
}

.fa-facebook{
    box-shadow: none;
}
.fa-facebook:hover{
     box-shadow: 0 0 5px darkblue,
     0 0 20px darkblue;
}



